* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* background: rgb(89,190,219); */
  background: linear-gradient(90deg, rgba(89, 190, 219, 1) 0%, rgba(57, 158, 190, 1) 49%, rgba(4, 57, 74, 1) 100%);
  font-family: 'Poppins', sans-serif;
}

.page-header {
  font-size: 4em;
  text-align: center;
  margin: 1em 0;
}

.leaderboard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #1c1c1c;
  width: 60%;
  margin: 0 auto;
  height: auto;
}

.display-scores {
  margin-right: 2em;
}

.display-scores-header {
  display: flex;
  margin-bottom: 2.5em;
}

.recent-score-title {
  font-size: 2em;
  margin-right: 0.5em;
}

.btn-refresh {
  color: #000;
  align-items: center;
  padding: 0 8px;
  background: #fff;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0.1rem 0.1rem black;
}

.btn-refresh:active {
  background: #008552;
  transform: translateY(2px);
}

.current-scores {
  border: 2px solid #000;
}

.score-item {
  list-style-type: none;
  padding: 0.2em;
}

.add-score {
  margin-left: 2em;
}

.add-score-title {
  font-size: 2em;
  margin-bottom: 1.3em;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

input {
  font-family: 'Poppins', sans-serif;
  color: #000;
  font-weight: bold;
  padding: 0.2em;
  margin-bottom: 1em;
  border: 2px solid #000;
}

.btn-submit {
  color: #000;
  align-items: center;
  padding: 0 8px;
  background: #fff;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0.1rem 0.1rem black;
}
